.app {
  width: 100%;
  max-width: 540px;
  margin: 50px auto;
  background-color: rgb(221, 231, 245);
  border-radius: 20px;
}

.title {
  font-family: 'NamyangjuUnheo';
  text-align: center;
  color: #666;
  font-size: 32px;
  padding: 30px 0 20px;
}

.contents {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 30px;
  min-height: 70vh;
}
.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.input-add {
  font-family: 'NamyangjuUnheo';
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.2);
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ccc;
}
.input-add:focus {
  box-shadow: inset 0 0 0 2px rgb(221, 231, 245);
}

.input-wrap button {
  border: none;
  font-weight: 500;
  color: #666;
  padding: 11px 10px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px rgb(221, 231, 245);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.input-wrap button:hover {
  background-color: rgb(221, 231, 245);
}

.list-title {
  margin-bottom: 14px;
  color: #666;
  font-size: 20px;
}

.todo-list li {
  position: relative;
  padding: 12px 20px;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.2);
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ccc;
  transition: all 0.3s ease-in-out;
}

.todo-list li:hover {
  background-color: rgb(221, 231, 245);
  box-shadow: inset 0 0 0 2px rgb(221, 231, 245);
}

.todo-list li input {
  margin-right: 20px;
}

/* .todo-list li:has(input:checked) .text {
  text-decoration: line-through;
  color: #aaa; 
} */


.empty-list {
  text-align: center;
  color: #979797;
  font-size: 18px;
  padding: 50% 20px;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #666;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
  text-decoration: underline;
}

.copy {
  text-align: center;
  padding: 20px;
  color: #b8b8b8;
}

.filter-btn {
  border: none;
  font-weight: 500;
  color: #666;
  padding: 8px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
  box-shadow: inset 0 0 0 2px rgb(221, 231, 245);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.filter-btn.active {
  background-color: rgb(221, 231, 245);
}

.edit-btn {
  position: absolute;
  right: 50px;
  top: 50%;
  font-size: 13px;
  transform: translateY(-50%);
  border: none;
  color: #888888;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.save-btn, .cancel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #666;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.save-btn {
  right: 60px;
  background-color: rgb(255, 156, 156);
}
.cancel-btn {
  right: 10px;
  background-color: rgb(214, 214, 214);
}

.edit-input {
  width: calc(100% - 100px); 
  padding: 6px 10px;
  border: 1px solid rgb(221, 231, 245) ;
  border-radius: 20px;
  outline: none;
}