@font-face {
    font-family: 'NamyangjuUnheo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-2@1.0/NYJUnheo.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'NamyangjuUnheo';
  color: #333;
  min-height: 100vh;
  background-color: #d1ebd3;
}


a {
  color: inherit;
  text-decoration: none;

}

li {
  list-style: none;
}

button {
  font-family: 'NamyangjuUnheo';
  cursor: pointer;
}